.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  .title {
    background-color: red;
    color: white;
    padding: 1rem;
    transform: skewX(-10deg);
    font-size: 2.5rem;
  }
}

.navbar {
  border-bottom: 1px solid lightgray;
}

.map-container {
  height: calc(100vh - 52px);
  width: 100%;
}

.map-controller {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 220px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 0.8rem;
  margin: 1rem;
}

.buttons {
  justify-content: space-evenly !important;
}

.marker {
  font-size: 20px;
}

.rocket {
  display: block;
  transform: translateX(-20px);
}

@import "~bootstrap/scss/bootstrap";
* {
  font-family: 'Raleway', sans-serif;
}

//! PAGE CONTAINER FOR WHITE BACKGROUND
.page-container {
  width: 170vw;
  height: 100vh;
  background-color: black;
  margin-top: -70px;
  display: flex;
}

ul {
  list-style-type: none;
}

//! NAVBAR
.logo {
  height: 40px;
  background: transparentize($color: white, $amount: 0.7);
}

//!HOMEPAGE
 #root {
  background-image: url('/assets/rory-hennessey-PBrovES5uuI-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.homepage {
  height: 100vh;
  width: 100vw;
  // display: flex;
  // align-items: center;
}
.homepage-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 200px auto;
}

.logo-homepage {
  display: flex;
  width: 100%;
  text-align: center; 
  border: white solid 2px;
  margin-top: 200px; 
  margin: 0 auto;
  box-shadow: 0 0 10px 0 white;
  background: transparentize($color: white, $amount: 0.7);
}

.button {
  height: 40px;
  width: 45%;
  font-size: 13px;
  font-weight: 550;
  border: white;
  box-shadow: 0 0 1px 0 white;
  background: transparentize($color: white, $amount: 0.8);
  border-radius: 5px;
  padding: 8px;
  margin: 10px;
  transition: 0.2s ease-in-out;
  justify-content: space-between;
}

.button:hover {
background: rgb(194, 182, 182);
}

//! ALL PACKAGES

.navbar-block {
  height: 70px;
  width: 100vw;
  background-color: rgb(73, 73, 73);
}
.button-bar {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}

.bootstrap-button {
  width: 30px;
  margin: 10px;
}


.packages-container {
  width: 100vw;
}

.packages-ul {
  width: 100vw;
  margin: 0;
  // height: 90%;
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
  justify-content: center;
}

.packages-li-container {
  position: relative;
  height: 200px;
  display: flex;  
  text-align: center;
  color: white;
}

.package-background {
  height: 100%;
  border-radius: 1px;
  min-width: 180px;
  max-width: 300px;
}

.left {
  width: 100%;
  position: absolute;
  padding: 5px;
  height: 80px;
  font-size: large;
  font-weight: 600;
}

.right {
  position: absolute;
  font-weight: 500;
  font-size: smaller;
}

.package-details-ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 0;
}

.package-details {
  margin-top: 10px;
  align-self: flex-start;
  padding: 5px;
  text-align: left;
  box-shadow: 0 0 1px 0 white;
  background: transparentize($color: grey, $amount: 0.8);
}

.package-title {
  box-shadow: 0 0 1px 0 white;
  background: transparentize($color: grey, $amount: 0.9);
}

.packages-li {
  height: 200px;
  margin: 1px;
}

.description-tile {
  height: 200px;
  position: absolute;
  background-color: transparent;
  color: transparent;
  font-size: smaller;
  text-align: center;
  display: flex;
}

.tile-description {
  padding: 2px;
  height: 100px;
  align-self: center;
}

.description-tile:hover{
  background-color: grey;
  color: white;
}



