.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  .title {
    background-color: red;
    color: white;
    padding: 1rem;
    transform: skewX(-10deg);
    font-size: 2.5rem;
  }
}

.map-container {
  height: calc(100vh - 52px);
  width: 100%;
}

.map-controller {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 40vw;
  max-height: 90vh;
  background: rgba(71, 70, 70, 0.5);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 0.8rem;
  margin: 1rem;
  color: white;
  font-family: 'Montserrat', sans-serif;

}

div.ex1 {
  width: 200px;
  height: 200px;
  overflow: scroll;
 }

.buttons {
  justify-content: space-evenly !important;
}

.marker {
  font-size: 20px;
}

.rocket {
  display: block;
  transform: translateX(-20px);
}

@import "~bootstrap/scss/bootstrap";
* {
  // font-family: 'Raleway', sans-serif;
  font-family: 'Montserrat', sans-serif;
  // font-family: 'Playfair Display', serif;
  // font-family: 'Lora', serif;
}

//! PAGE CONTAINER FOR WHITE BACKGROUND
.page-container {
  min-width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
}

ul {
  list-style-type: none;
}

//! NAVBAR
.logo {
  height: 40px;
  background: transparentize($color: white, $amount: 0.7);
}

.nav-grey {
  background-color: grey;
}

//!HOMEPAGE
.bring-to-front {
  z-index: 6;
}

.homepage, .register, .login {
  position: absolute;
  height: 101vh;
  width: 100vw;
  background-image: url('/assets/rory-hennessey-PBrovES5uuI-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -70px;
  z-index: 2;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 35vh auto;
}

.logo-homepage {
  display: flex;
  width: 100%;
  text-align: center; 
  border: white solid 2px;
  margin-top: 200px; 
  margin: 0 auto;
  box-shadow: 0 0 10px 0 white;
  background: transparentize($color: grey, $amount: 0.8);
}
.homepage-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 1.5vw;
  margin-top: 1vh;
}
.button {
  // height: 5vh;
  height: fit-content;
  width: 22vw;
  font-size: 1.7vh;
  font-weight: 550;
  border: white;
  box-shadow: 0 0 1px 0 white;
  background: transparentize($color: white, $amount: 0.8);
  border-radius: 5px;
  padding: 8px;
  // margin: 10px;
  transition: 0.2s ease-in-out;
}

.button:hover {
background: rgb(194, 182, 182);
}

.homepage-subtitle {
  z-index: 5;
  // position: absolute;
  font-size: 2.3vh;
  font-style: oblique;
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

//! ALL PACKAGES
.packages-shadow {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 2;
  background: transparentize($color: grey, $amount: 0.8);
}

.caption {
  position: absolute;
  // width: 50vw;
  width: fit-content;
  text-align: left;
  margin-top: 25vh;
  z-index: 6;
  font-size: 10vh;
  font-weight: 900;
  color: white;
  display: flex;
  flex-direction: column;
}

.p-caption {
  width: 50vw;
  margin-bottom: 0;
  // margin-left: 6vw;
}

.filters {
  display: flex;
  margin-left: 6.5vw;
  height: 5vh;
  margin-top: 1vh;
}

.filter-button {
  z-index: 6;
  height: 3.5vh;
  // height: fit-content;
  width: 7vw;
  font-size: 13px;
  font-weight: 550;
  border: white;
  box-shadow: 0 0 1px 0 white;
  background: transparentize($color: white, $amount: 0.5);
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  justify-content: space-between;
  margin-right: 4px;
  margin-bottom: 2vh;
}

.filter-button:hover {
  background: rgb(194, 182, 182);
  }

.carousel-indicators {
  display: none;
}

#carousel-container {
  height: 100vh;
  margin-top: -70px;
  overflow: hidden;
}

#carousel-image {
  height: 103vh;
  z-index: 2;
}

.button-bar {
  width: 30vw;
  height: 50px;
  display: flex;
  justify-content: center;
}

.bootstrap-button {
  width: 30px;
  margin: 10px;
}

.packages-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.scroll-filter {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 500px;
}

.bootstrap-button {
  width: 100px;
}

.drop-downs {
  width: 260px;
  display: flex;
  justify-content: space-evenly;
}

.packages-ul {
  width: 87vw;
  height: 68vh;
  display: flex;
  align-content: flex-end;
  overflow-y: hidden;
  overflow-x: scroll;
  box-shadow: 0 0 1px 0 white;
  padding-left: 0;
  margin-left: 6.5vw;
  margin-bottom: 2vh;
}

.packages-li-container {
  position: relative;
  display: flex;  
  flex-direction: column;
  text-align: center;
  color: white;
  box-shadow: 0 0 4px 0 white;
  margin-right: 20px;
  text-decoration: none;
}


.package-background {
  height: 200px;
  border-radius: 1px;
  min-width: 180px;
  max-width: 300px;
  z-index: 2;
}

.left {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: 80px;
  font-size: large;
  font-weight: 600;
  z-index: 3;
  background: transparentize($color: grey, $amount: 0.3);
}

.right {
  font-weight: 500;
  font-size: smaller;
}

.package-details-ul {
  display: flex;
  padding-left: 0;
}

.package-details {
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  font-size: small;
  width: 33%;
}

.package-title {
  height: 30px;
}

.description-tile {
  height: 200px;
  font-size: smaller;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparentize($color: grey, $amount: 0.3);
  z-index: 5;
}

.tile-description {
  padding: 2px;
  height: 100px;
}

.hover-area {
  height: 197px;
  z-index: 4;
  margin-top: -10px;
}

// .hover-area:hover {
//   background-color: black;
//   color: white;
//   transition: 300ms ease-out;
//   cursor: pointer;
// }



//! Register
.register, .login {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.section {
  width: 400px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1px 0 white;
  border: solid white 2px;
  background: transparentize($color: grey, $amount: 0.7);
  font-weight: 600;
}

.input {
  width: 100%;
}

.label {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 10px;
}

.field {
  display: flex;
  flex-direction: column;
}

.button {
  align-self: center;
  background-color: black;
  color: white;
}

.register-button {
  margin-top: 10px;
  width: 100%;
}

.input {
  font-size: 14px;
  font-style: oblique;
}

.is-danger {
  border: solid red 4px;
}
//! Login

#login-section {
  height: 250px;
}

//! Minitile 

.nav-link {
  color: black;
  font-weight: 900;
}
.card-body {
  padding-left: 0;
  padding-right: 0;
}
div.card {
  border-style: none;
}
.card-title, .card-text {
  text-align: center;
}

//! MultipleMarkers 

.icon-main-map {
  font-size: 30px;
}

//! Show Tile
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

h6 {
  margin-bottom: 0;
  font-size:small;
}
.day-button {
  background-color: black;
  background: transparentize($color: grey, $amount: 0.7);
  color: white;
  width: 35px;
  font-size: small;
  margin-right: 3px;
  margin-left: 2px;
}

.day-button:hover {
  transform: scale(1.5)
}

.daily {
  font-style: oblique;
  text-align: center;
  margin-bottom: 20px;
}

.package-title-show {
  height: fit-content;
  // background: transparentize($color: grey, $amount: 0.3);
  box-shadow: 0 0 2px 0 white;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px 0;
}

.show-stuff {
  padding-left: 0;
}

.show {
  margin-bottom: 10px;
  border-bottom: solid rgb(211, 209, 209) 2px;
  border-top: solid rgb(211, 209, 209) 2px;
}

.type-title {
  margin-top: 10px;
}

.show-p {
  font-size: smaller;
}

.map-container {
  position: absolute;
  margin-top: -9vh;
  height: 100vh;
}

.map-controller {
  margin-top: 10vh;
  width: 35vw;
}

//! Main map
.card-text {
  font-size: small;
}

//! Profile
.saved-overall-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.saved-carousel {
  position: absolute;
}

.save-to-profile {
  width: 30%;
  margin-left: 2vw;
}

.no-button {
  background:white;
  color: black;
}

.saved-container {
  width: 100vw;
  height: 100vh;
  z-index: 5;
  display: flex;
  // flex-direction: column;
  // justify-content: space-between;
}

.saved-ul {
  height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  margin-left: 42vw;
  width: 38vw;
  z-index: 6;
}

.caption {
  width: 35vw;
  text-align: center;
  margin-left: 5vw;
}

.saved-li {
  width: 13vw;
  height: 24vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5vh;
  box-shadow: 0 0 5px 0 white;
}

.saved-img {
  // position: absolute;
  z-index: 5;
  height: 100%;
}

.saved-title {
  z-index: 6;
  margin-left: 0;
  width: 9vw;
  // height: 9vh;
  font-size: 2.5vh;
  position: absolute;
  color: white;
  text-align: center;
  background: transparentize($color: grey, $amount: 0.8);
}

.hidden-lat:hover {
  color: white;
  position: absolute;
  width: 13vw;
  height: 24vh;
  z-index: 6;
  text-align: center;
  background: grey;
  margin: 0.5vh;
  transition: all 0.22s ease-in-out;
  font-size: small;
}

.hidden-lat {
  color: transparent;
  background: transparent;
  position: absolute;
  z-index: 6;
}

.saved-places-caption {
  font-size: 3vh;
  padding-top: 4.5vh;
  position: absolute;
  z-index: 6;
  color: white;
  margin-left: 45vw;
  font-style: oblique;
}

.map-caption {
  position: absolute;
  color: white;
  text-align: center;
  z-index: 5;
  font-size: 4vh;
  font-style: oblique;
  width: 15vw;
  margin-top: 74vh;
  margin-left: 2vw;
}
