.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  .title {
    background-color: red;
    color: white;
    padding: 1rem;
    transform: skewX(-10deg);
    font-size: 2.5rem;
  }
}

.map-container {
  height: calc(100vh - 52px);
  width: 100%;
}

.map-controller {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 220px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 0.8rem;
  margin: 1rem;
}

.buttons {
  justify-content: space-evenly !important;
}

.marker {
  font-size: 20px;
}

.rocket {
  display: block;
  transform: translateX(-20px);
}

@import "~bootstrap/scss/bootstrap";
* {
  // font-family: 'Raleway', sans-serif;
  font-family: 'Montserrat', sans-serif;
  // font-family: 'Playfair Display', serif;
  // font-family: 'Lora', serif;
}

//! PAGE CONTAINER FOR WHITE BACKGROUND
.page-container {
  min-width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
}

ul {
  list-style-type: none;
}

//! NAVBAR
.logo {
  height: 40px;
  background: transparentize($color: white, $amount: 0.7);
}

.nav-grey {
  background-color: grey;
}

//!HOMEPAGE
.bring-to-front {
  z-index: 6;
}

.homepage, .register, .login {
  position: absolute;
  height: 101vh;
  width: 100vw;
  background-image: url('/assets/rory-hennessey-PBrovES5uuI-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -70px;
  z-index: 2;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 35vh auto;
}

.logo-homepage {
  display: flex;
  width: 100%;
  text-align: center; 
  border: white solid 2px;
  margin-top: 200px; 
  margin: 0 auto;
  box-shadow: 0 0 10px 0 white;
  background: transparentize($color: grey, $amount: 0.8);
}

.button {
  height: 40px;
  width: 45%;
  font-size: 13px;
  font-weight: 550;
  border: white;
  box-shadow: 0 0 1px 0 white;
  background: transparentize($color: white, $amount: 0.8);
  border-radius: 5px;
  padding: 8px;
  margin: 10px;
  transition: 0.2s ease-in-out;
  justify-content: space-between;
}

.button:hover {
background: rgb(194, 182, 182);
}

//! ALL PACKAGES
.packages-shadow {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 2;
  background: transparentize($color: grey, $amount: 0.8);
}

.caption {
  position: absolute;
  width: 50vw;
  text-align: left;
  margin-top: 25vh;
  z-index: 6;
  font-size: 10vh;
  font-weight: 900;
  color: white;
  display: flex;
  flex-direction: column;
}

.p-caption {
  width: 50vw;
  margin-bottom: 0;
  margin-left: 6vw;
}

.filters {
  display: flex;
  margin-left: 6.5vw;
  height: 5vh;
  margin-top: 1vh;
}

.filter-button {
  z-index: 6;
  height: 20px;
  width: 7vw;
  font-size: 13px;
  font-weight: 550;
  border: white;
  box-shadow: 0 0 1px 0 white;
  background: transparentize($color: white, $amount: 0.5);
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  justify-content: space-between;
  margin-right: 4px;
}

.filter-button:hover {
  background: rgb(194, 182, 182);
  }

.carousel-indicators {
  display: none;
}

#carousel-container {
  height: 100vh;
  margin-top: -70px;
  overflow: hidden;
}

#carousel-image {
  height: 103vh;
  z-index: 2;
}

.button-bar {
  width: 30vw;
  height: 50px;
  display: flex;
  justify-content: center;
}

.bootstrap-button {
  width: 30px;
  margin: 10px;
}

.packages-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.scroll-filter {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 500px;
}

.bootstrap-button {
  width: 100px;
}

.drop-downs {
  width: 260px;
  display: flex;
  justify-content: space-evenly;
}

.packages-ul {
  width: 87vw;
  height: 68vh;
  display: flex;
  align-content: flex-end;
  overflow-y: hidden;
  overflow-x: scroll;
  box-shadow: 0 0 1px 0 white;
  padding-left: 0;
  margin-left: 6.5vw;
  margin-bottom: 2vh;
}

.packages-li-container {
  position: relative;
  display: flex;  
  flex-direction: column;
  text-align: center;
  color: white;
  box-shadow: 0 0 4px 0 white;
  margin-right: 20px;
  text-decoration: none;
}


.package-background {
  height: 200px;
  border-radius: 1px;
  min-width: 180px;
  max-width: 300px;
  z-index: 2;
}

.left {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: 80px;
  font-size: large;
  font-weight: 600;
  z-index: 3;
  background: transparentize($color: grey, $amount: 0.3);
}

.right {
  font-weight: 500;
  font-size: smaller;
}

.package-details-ul {
  display: flex;
  padding-left: 0;
}

.package-details {
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  font-size: small;
  width: 33%;
}

.package-title {
  height: 30px;
}

.description-tile {
  height: 200px;
  font-size: smaller;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparentize($color: grey, $amount: 0.3);
  z-index: 5;
}

.tile-description {
  padding: 2px;
  height: 100px;
}

.hover-area {
  height: 197px;
  z-index: 4;
  margin-top: -10px;
}

// .hover-area:hover {
//   background-color: black;
//   color: white;
//   transition: 300ms ease-out;
//   cursor: pointer;
// }



//! Register
.register, .login {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.section {
  width: 400px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1px 0 white;
  border: solid white 2px;
  background: transparentize($color: grey, $amount: 0.7);
  font-weight: 600;
}

.input {
  width: 100%;
}

.label {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 10px;
}

.field {
  display: flex;
  flex-direction: column;
}

.button {
  align-self: center;
  background-color: black;
  color: white;
}

//! Login

#login-section {
  height: 250px;
}

//! Minitile 

.nav-link {
  color: black;
  font-weight: 900;
}
.card-body {
  padding-left: 0;
  padding-right: 0;
}
div.card {
  border-style: none;
}
.card-title, .card-text {
  text-align: center;
}

//! MultipleMarkers 

.icon-main-map {
  font-size: 30px;
}





